﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/chosen.css" rel="stylesheet" type="text/css" />

    <link href="~/favicon.ico" rel="icon" type="image/x-icon" />


    <title>GCU Course Recommender</title>
</head>
<body>

    <nav class="navbar navbar-default" id="heading">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img alt="Brand" src="~/Content/gcu-logo.png">
                </a>
            </div>
        </div>
    </nav>

    <div class="container" id="main-container">

        @RenderBody()

    </div>

    <div class="container" id="footer">
        <p>Martin Conway - S1313586</p>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

    <script>$(".selectpicker").chosen(); </script> @*Chosen Plugin*@

</body>
</html>
