﻿
<div class="container">
    <h2>Server Error</h2>
    <hr />
    <p>The client has been unable to make a connection to the student database. Please check the server status and use the "Rety" button below to connect.</p>
</div>

<div class="container">
    @Html.ActionLink("Retry", "Index", null, new { @class = "btn btn-primary return-btn" })
</div>