﻿@model CourseRecommender.ViewModels.RecommendedViewModel

<div class="container">
    <h2>Recommend Courses</h2>
    <hr />
    <p>These courses have been recommended to you based on current students with similar interests.</p>

    <p>Your Selected Interests: <span class="interest-list">@Model.ChosenInterests</span></p>
        @foreach (var course in Model.RecommendedCourses)
        {
            <div class="col-sm-3 course-display">
                <h4>@course.title</h4>
                <div class="image">
                    <img src="@Url.Content(course.Image)" class="img-responsive" alt="Image" />
                </div>
            </div>
        }
</div>

<div class="container">
    <h2>@Model.TopSubjectGroup Subject Courses</h2>
    <hr />
    <p>These courses are within the same subject group of your top recommended courses</p>
        @foreach (var course in Model.CoursesWithinSubjectGroup)
        {
            <div class="col-sm-3 course-display">
                <h4>@course.title</h4>
                <img src="@Url.Content(course.Image)" class="img-responsive course-image" style="padding-top: 5px" alt="Image" />
            </div>
        }
</div>

<div class="container">
    @Html.ActionLink("Reselect Interests", "Index", null, new { @class = "btn btn-primary return-btn" })
</div>
