﻿@model CourseRecommender.ViewModels.InterestViewModel

<script>$(".selectpicker").chosen(); </script> @*Chosen Plugin*@

<div class="container" id="recommendation-list">
    <div class="container">
        <h2>GCU Course Recommender</h2>
        <hr />
        <p>From the drop down box below please select all interests applicable to you and then click submit</p>
        <p>Please select from following interests</p>
        <div class="col-md-4">
            @using (Ajax.BeginForm(new AjaxOptions
            {
                InsertionMode = InsertionMode.ReplaceWith,
                HttpMethod = "POST",
                UpdateTargetId = "recommendation-list",
                LoadingElementId = "loader"
            }))
            {
                <fieldset>
                    <div class="editor-field">
                        @Html.ListBoxFor(model => model.SelectedItems, (ViewBag.Interests as MultiSelectList), 
                            new { @class = "selectpicker form-control", data_placeholder = "Choose Interests..." })
                        @Html.ValidationMessageFor(model => model.SelectedItems, "", new { @class = "text-danger" })
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </fieldset>
            }
        </div>

        <div id="loader" class="aletr" style="display:none">
            Loading...<img src="../../Content/Images/loading.gif" />
        </div>

    </div>
</div>