﻿body {
    padding-bottom: 20px;
    background-color: #E8ECEF;
}

#heading {
    background: linear-gradient(to right, #034e94 , #017FFD);
    margin-bottom: 0px;
}

#main-container {
    background-color: white;
    box-shadow: 0px 0px 15px #888888;
    padding-bottom: 20px;
}

#footer {
    text-align: right;
    margin-top: 5px;
    font-size: 12px;
}

.image {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img {
    position:absolute;
}

.interest-list {
    font-weight: bold;
}

.return-btn {
    margin: 15px;
}